#header {
    width: 100%;
    background-color: #26a;
    padding: 20px;
}


.nav {
    display: flex;
    justify-content: center;
    background-color: rgb(108, 127, 145);
    padding: 10px;
}
//.nav {
//    background-image: url('../img/fondo.webp');
//    background-size: cover; /* Esto hace que la imagen cubra todo el fondo */
//    background-position: center; /* Centra la imagen */
//    background-repeat: no-repeat; /* Evita que la imagen se repita */
//    padding: 10px; /* Ajusta el espaciado si es necesario */
//}

.nav li {
    font-size: 20px;
    text-align: center;
    width: 20%;
    margin: 0 1rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #26a;
    border: 1px solid #222; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
    color: white;
    transition: background-color 0.3s ease, font-size 0.3s ease, box-shadow 0.3s ease; 
}

.nav li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.nav li:hover {
    background-color: #2196f3;
    font-size: 22px;
    transition: 0.5s;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3); 
}

.nav li:active {
    background-color: #1a7bb8; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
}

.logo {
    display: flex;
    justify-content: center;
}

.logo__img {
    width: 500px;
    height: auto;
}
