#main {
    min-height: 100vh;
}

.main__article-index {
color: black;

}

.sobre_nosotros, .servicios {
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

.img_sob_nos, .img_servicios {
    width: 25%;
    height: auto; 
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.ind_vid {
    width: 80%;
    margin: auto;
}

.ind_vid video {
    width: 100%;
    height: auto;
}

.contenido {
    font-size: 1.5em;
    margin: auto;
    padding: 20px;
}

