

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav li {
        width: 100%;
        margin: 10px 0;
    }

    .logo__img {
        width: 80%;
        max-width: 300px;
    }

    .sobre_nosotros, .servicios {
        flex-direction: column;
        align-items: center;
    }

    .img_sob_nos, .img_servicios {
        width: 80%;
        max-width: 300px;
    }

    .contenido {
        font-size: 1.2em;
    }
}
